<h4 mat-dialog-title>Add new image</h4>
<form [formGroup]="uploadNewImage" (ngSubmit)="uploadImage(uploadNewImage.value)" fxLayout="column" fxLayoutAlign="space around">
  <mat-form-field appearance="fill">
    <mat-label>Album ID:</mat-label>
    <input matInput type="number" [formControl]="albumId" required>
    <mat-error *ngIf="albumId.invalid">Invalid album id</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Image Title:</mat-label>
    <input matInput type="text" [formControl]="title" required>
    <mat-error *ngIf="albumId.invalid">Enter a title</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Image url:</mat-label>
    <input matInput type="text" [formControl]="url" required>
    <mat-error *ngIf="url.invalid">Enter an image url</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Thumbnail url:</mat-label>
    <input matInput type="text" [formControl]="thumbnailUrl" required>
    <mat-error *ngIf="thumbnailUrl.invalid">Invalid url should end in(png, jpg, jpeg)</mat-error>
  </mat-form-field>
<button mat-button color="accent" [disabled]="uploadNewImage.invalid" type="submit">
  <mat-icon>save</mat-icon> Save
</button>
<button mat-button type="button" color="primary" (click)="dismiss()">
  <mat-icon>cancel</mat-icon>
  Cancel
</button>
</form>
