<!-- <form [formGroup]="uploadImageForm">
  <h4>Upload new image</h4>
  <mat-dialog-content>
    <label for="albumId">Album ID: </label>
    <input type="number" id="albumId" formControlName="albumId" />

    <label for="id">Image ID: </label>
    <input type="number" id="id" formControlName="id" />

    <label for="title">Image Title: </label>
    <input type="text" id="title" formControlName="title" />

    <label for="url">Album ID: </label>
    <input type="text" id="url" formControlName="url" />

    <label for="thumbnailUrl">Album ID: </label>
    <input type="text" id="thumbnailUrl" formControlName="thumbnailUrl" />
  </mat-dialog-content>
</form> -->

<h4 mat-dialog-title>Add new image</h4>
<form [formGroup]="uploadNewImage" (ngSubmit)="uploadImage(uploadNewImage.value)">
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Album ID:</mat-label>
    <input matInput type="number" [formControl]="albumId" required>
    <mat-error *ngIf="albumId.invalid">Invalid album id</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Image Title:</mat-label>
    <input matInput type="text" [formControl]="title" required>
    <mat-error *ngIf="albumId.invalid">Enter a title</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Image url:</mat-label>
    <input matInput type="text" [formControl]="url" required>
    <mat-error *ngIf="url.invalid">Enter an image url</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Thumbnail url:</mat-label>
    <input matInput type="text" [formControl]="thumbnailUrl" required>
    <mat-error *ngIf="thumbnailUrl.invalid">Invalid url should end in(png, jpg, jpeg)</mat-error>
  </mat-form-field>
</mat-dialog-content>
<button mat-button color="accent" [disabled]="uploadNewImage.invalid" type="submit">
  <mat-icon>save</mat-icon> Save
</button>
</form>
<!-- moving this btn into the form sends a request on dismiss go figure -->
<button mat-button color="primary" (click)="dismiss()">
  <mat-icon>cancel</mat-icon>
  Cancel
</button>
