
 <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h4 mat-dialog-title>Edit image</h4>
  <div >
    <form [formGroup]="editImageForm" (ngSubmit)="editImage(editImageForm.value)" fxLayout="column" fxLayoutAlign="space around">
      <mat-form-field appearance="fill">
        <mat-label>Album ID:</mat-label>
        <input matInput type="number" formControlName="albumId" required>
        <mat-error *ngIf="editImageForm.controls.albumId.invalid">Invalid album id</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Image Title:</mat-label>
        <input matInput type="text"  formControlName="title" required [value]="image.title">
        <mat-error *ngIf="editImageForm.controls.title.invalid">Enter a title</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Image url:</mat-label>
        <input matInput type="text" formControlName="url" required>
        <mat-error *ngIf="editImageForm.controls.url.invalid">Enter an image url</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Thumbnail url:</mat-label>
        <input matInput type="text" formControlName="thumbnailUrl" required>
        <mat-error *ngIf="editImageForm.controls.thumbnailUrl.invalid">Invalid url</mat-error>
      </mat-form-field>
      <button mat-button color="accent" [disabled]="editImageForm.invalid" type="submit">
        <mat-icon>save</mat-icon> Save
      </button>
      <button mat-button type="button" color="primary" (click)="dismiss()">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </form>
  </div>


